*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.forma1{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.forma1>div{
  flex-basis: 45%;
  text-align: center;
}
.sredina{
  margin-top :50px;
}
p{
  margin-top: 30px;
}